<ngx-spinner></ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="filter"
            placeholder="Buscar por el nombre del usuario..."
            [(ngModel)]="filter"
          />
        </div>
      </div>
      <div class="col-md-3">
        <button
          href="#"
          (click)="create()"
          routerLinkActive="router-link-active"
          class="btn btn-primary btn-sm"
        >
          <i class="fa fa-pencil-square-o mr-4" aria-hidden="true"></i>
          <b>Crear usuario</b>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title text-center">Listado de usuarios</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Documento</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Opciones</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let client of clients
                        | filter: filter
                        | paginate: { itemsPerPage: 10, currentPage: page }
                    "
                  >
                    <td>{{ client.id }}</td>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.document }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td class="td-actions text-right">
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Editar usuario"
                        (click)="update(client.id)"
                        [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon"
                      >
                        <i class="material-icons">edit</i>
                      </button>
                      <button
                        (click)="removeClient(client.id)"
                        mat-raised-button
                        type="button"
                        matTooltip="Borrar usuario"
                        [matTooltipPosition]="'above'"
                        class="btn btn-danger btn-link btn-sm btn-just-icon"
                      >
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="has-text-centered">
              <pagination-controls
                (pageChange)="page = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
