<div class="main-content">
  <div class="container-fluid">
    <div
      *ngIf="error"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <strong>Opps!</strong>
      <ul class="list-group" *ngFor="let item of error">
        <li class="list-group-item">{{ item }}</li>
      </ul>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="text-center mt-3"><b>Actualizar usuario</b></div>
          <hr />
          <div class="card-body">
            <form #formClient="ngForm" (ngSubmit)="onUpdate(formClient)">
              <input type="hidden" name="id" [(ngModel)]="client.id" />
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Nombre</label>
                    <input
                      type="text"
                      name="first_name"
                      [(ngModel)]="client.first_name"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Apellido</label>
                    <input
                      type="text"
                      name="last_name"
                      [(ngModel)]="client.last_name"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Documento</label>
                    <input
                      type="number"
                      name="document"
                      [(ngModel)]="client.document"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input
                      type="email"
                      name="email"
                      [(ngModel)]="client.email"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Teléfono</label>
                    <input
                      type="number"
                      name="phone"
                      [(ngModel)]="client.phone"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <a
                href="#"
                [routerLink]="['/clients']"
                class="btn btn-secondary btn-sm"
                routerLinkActive="router-link-active"
                >Regresar</a
              >
              <button class="btn btn-primary btn-sm" type="submit">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
