<div class="main-content">
  <div class="container-fluid">
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="error"
    >
      <strong>Opps!</strong>
      <ul class="list-group" *ngFor="let item of error">
        <li class="list-group-item">{{ item }}</li>
      </ul>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="text-center mt-3"><b>Crear usuario</b></div>
          <hr />
          <div class="card-body">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Nombre</label>
                    <input
                      type="text"
                      name="first_name"
                      formControlName="first_name"
                      class="form-control"
                    />
                    <div
                      class="alert-danger"
                      *ngIf="
                        first_name.invalid &&
                        (first_name.dirty || first_name.touched)
                      "
                    >
                      <div
                        class="container-error-message"
                        *ngIf="first_name.errors.required"
                      >
                        El nombre es requerido
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Apellido</label>
                    <input
                      type="text"
                      rows="16"
                      formControlName="last_name"
                      class="form-control"
                    />
                    <div
                      class="alert-danger"
                      *ngIf="
                        last_name.invalid &&
                        (last_name.dirty || last_name.touched)
                      "
                    >
                      <div
                        class="container-error-message"
                        *ngIf="last_name.errors.required"
                      >
                        El apellido es requerido
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Documento</label>
                    <input
                      type="text"
                      formControlName="document"
                      class="form-control"
                    />
                    <div
                      class="alert-danger"
                      *ngIf="
                        document.invalid && (document.dirty || document.touched)
                      "
                    >
                      <div
                        class="container-error-message"
                        *ngIf="document.errors.required"
                      >
                        El documento es requerido
                      </div>
                      <div
                        class="container-error-message"
                        *ngIf="
                          (document.dirty || document.touched) &&
                          document.invalid &&
                          document.errors.pattern
                        "
                      >
                        El campo no recibe caracteres
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                    />
                    <div
                      class="alert-danger"
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="email.errors.required"
                      >
                        Email es requerido
                      </div>
                      <div
                        class="container-error-message"
                        *ngIf="
                          (email.dirty || email.touched) &&
                          email.invalid &&
                          email.errors.pattern
                        "
                      >
                        El Email tiene un formato no valido
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Teléfono</label>
                    <input
                      type="text"
                      formControlName="phone"
                      class="form-control"
                    />
                    <div
                      class="alert-danger"
                      *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="phone.errors.required"
                      >
                        El teléfono es requerido
                      </div>
                      <div
                        class="container-error-message"
                        *ngIf="
                          (phone.dirty || phone.touched) &&
                          phone.invalid &&
                          phone.errors.pattern
                        "
                      >
                        El campo no recibe caracteres
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a
                href="#"
                [routerLink]="['/clients']"
                class="btn btn-secondary btn-sm"
                routerLinkActive="router-link-active"
                >Regresar</a
              >
              <button
                class="btn btn-primary btn-sm"
                type="submit"
                [disabled]="!clientForm.valid"
              >
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
