<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title text-center">Listado de usuarios</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>ID</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Documento</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Opciones</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let client of clients
                    | filter: filter
                    | paginate: { itemsPerPage: 5, currentPage: page }
                "
              >
                <td>{{ client.id }}</td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.document }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td class="td-actions text-right">
                  <button
                    mat-raised-button
                    type="button"
                    matTooltip="Edit Task"
                    class="btn btn-primary btn-link btn-sm btn-just-icon"
                  >
                    <i class="material-icons">edit</i>
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    matTooltip="Remove"
                    class="btn btn-danger btn-link btn-sm btn-just-icon"
                  >
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
